h3 {
  background-color: blue;
}
.jumbotron {
  background-color:#519D9E !important;
}
.pre-offset {
  background-color:green;
}

.offset {
  background-color: pink;
}

.content {
  background-color: brown;
}

.bobo {
  background-color: purple;
}

.promo {
  background-color: red;
}

.footer {
  background-color: yellow;
}

@media(min-width: 768px) {
  .pre-offset {
    background-color: red;
  }
}

@media(max-width: 475px) {
  .offset {
    background-color: purple;
  }
}
